{
    "tagFormat": "${version}",
    "plugins": [
        "@semantic-release/commit-analyzer", 
        "@semantic-release/release-notes-generator", 
        ["@semantic-release/changelog", {
            "changelogFile": "CHANGELOG.md"
        }],
        "@semantic-release/github",
        "@semantic-release/git",
        ["semantic-release-cocoapods", {
            "podLintArgs": "--allow-warnings",
            "podPushArgs": "--allow-warnings"
        }]
    ]
}